<!DOCTYPE html>
<html>
  <head>
    <title>疫情数据可视化分析</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
  </head>

  <body>
    <script>
      mermaid.initialize({
        startOnLoad: true,
        theme:
          document.body.classList.contains("vscode-dark") ||
          document.body.classList.contains("vscode-high-contrast")
            ? "dark"
            : "default",
      });
    </script>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://assets.pyecharts.org/assets/echarts.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://assets.pyecharts.org/assets/maps/world.js"
    ></script>
    <script
      type="text/javascript"
      src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://assets.pyecharts.org/assets/maps/china.js"
    ></script>

    <div id="links" style="line-height: 36px; background-color:black;">
        <a href="index.html">疫情数据动态可视化地图</a>
        <a href="analyse.html">趋势预测</a>
        <a href="nlp.html">舆论分析</a>
    </div>
    
    <div
      style="
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
        background-color: ivory;
        padding-left: 15px;
        padding-right: 15px;
      "
    >
      <h2>Part2：疫情趋势预测分析</h2>
      <h4>logistic回归算法</h4>
      <p>
        （1）模型描述：当一个物种迁入到一个新生态系统中后，其数量会发生变化。假设该物种的起始数量小于环境的最大容纳量，则数量会增长。该物种在此生态系统中有天敌、食物、空间等资源也不足（非理想环境），则增长函数满足逻辑斯谛方程，图像呈S形，此方程是描述在资源有限的条件下种群增长规律的一个最佳数学模型。
      </p>
      <p>
        （2）一般疾病的传播是S型增长的过程，因为疾病传播的过程中会受到一定的阻力（医治、切断传播途径等措施）。
      </p>
      <p>
        此处采用最小二乘法，对logistic增长函数进行拟合。以下将检验最小二乘法拟合的逻辑斯蒂模型是否能贴合实际。
      </p>
      <img src="results/logistic_china.png" style="width: 600px" />
      <p>
        本次拟合采用了1月11日到1月27日的累计确诊病例数据作为原始数据，采用最小二乘法拟合逻辑斯蒂曲线，最后经过对逻辑斯蒂模型中R值（增长速率，到达K值的速度）的拟合调整，发现在0.45附近得到的曲线比较贴合我国1月至2月疫情实际情况。从短期来看，2月9日的预测值在4万左右，与实际情况十分贴近，也证明了模型的一定可靠性；但从长期来看，最终值还是相对偏低。
      </p>
      <p>
        可以将本模型推广，进行全球范围内典型新冠肺炎爆发国家的疫情拟合与未来疫情预测，同时将通过R值的大小反应出该国疫情应对的有效程度：
      </p>
      <p>
        以下分别是对日本、美国、中国、德国从1.19至5.19的疫情数据进行的拟合和预测：
      </p>
      <div>
        <img
          src="results/logistic_world.png"
          style="width: 400px; display: inline-block"
        />
        <img
          src="results/logistic_american.png"
          style="width: 400px; display: inline-block"
        />
        <img
          src="results/logistic_china1.png"
          style="width: 400px; display: inline-block"
        />
        <img
          src="results/logistic_german.png"
          style="width: 400px; display: inline-block"
        />
      </div>
      <p>R值：</p>
      <table>
        <thead>
          <tr>
            <th>国家</th>
            <th style="text-align: center">中国</th>
            <th style="text-align: center">美国</th>
            <th style="text-align: center">英国</th>
            <th style="text-align: center">德国</th>
            <th style="text-align: center">意大利</th>
            <th style="text-align: center">韩国</th>
            <th style="text-align: right">日本</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>R</td>
            <td style="text-align: center">0.25</td>
            <td style="text-align: center">0.05</td>
            <td style="text-align: center">0.08</td>
            <td style="text-align: center">0.09</td>
            <td style="text-align: center">0.08</td>
            <td style="text-align: center">0.11</td>
            <td style="text-align: right">0.08</td>
          </tr>
        </tbody>
      </table>
      <p>
        关于R值的补充说明：逻辑斯蒂模型中R值代表的增长速率不是传统意义上理解的种群增长速度，而是接近种群数量达到环境承载力K值的速度。强烈的人为干预可以<strong>大幅度降低K值</strong>，使得种群数量快速达到最大值附近，疫情扩散得以控制。所以本模型在预测各国最终累计感染人数的功能之外，拟合过程中R值的大小可以反映某个国家面对新冠肺炎采取措施的<strong>有效性和效率</strong>。一般来说，R值越大，该国防疫措施越有效。
      </p>
      <h4>SEITR模型：</h4>
      <p>
        （1）模型简介：SEITR模型是基于动力学SEIR模型不断调试模拟的结果，能够比较合理贴合传染病传播的一般规律。
      </p>

      <p>我们先来看看SEIR模型：</p>
      <img src="results/seirgraphy.png" />
      <p>
        1）模型中的4类人群：N为总人数 SUSCEPTIBLES: 用S表示，为易感者,
        潜在的可感染人群 EXPOSED：用E表示，为潜伏者,
        已经被感染但是没有表现出来的人群 INFECTIVES: 用I表示，为感染者,
        表现出感染症状的人 RESISTANCES: 用R表示，为抵抗者,
        感染者痊愈后获得抗性的人
      </p>
      <img src="results/equation.svg" />
      <p>
        2）模型中的3种参数： αß：易感人群（S) 被感染人员（I)
        传染的传染率，相当于单人次易感者接触感染者而被感染的几率（ß）与易感者单位时间内接触的感染者人数（α）的乘积
        γ：感染人群（I) 以固定平均速率恢复（R) 或死亡的恢复率 Ω：潜伏人群（E)
        变为感染者的平均速率，通常数值取潜伏期的倒数
      </p>
      <p>
        3）增加修正的参数：
        “T”：已被感染且正处于接受治疗时期的人群，主要特征表现为已被感染，已过潜伏期，但不会进行传染，且正在被治疗。
        同时也将I人群严格定义为被感染，已过潜伏期但未被医院收治无法接受治疗的人群。
        δ，表示I变为T的速率，主要受医院接诊速率及收治能力影响，也受发病后及时就医的时间影响。
      </p>
      <p>以下使用SEITR模型对美国疫情基本得到控制的时间进行预测。</p>
      <img src="results/seir.png" style="width: 600px" />
      <p>模型拟合评价：</p>
      <p>（1）参数的设置：</p>
      <p>
        1）传染率系数与人与人之间的社交距离和社交频率息息相关，美国在疫情早期未及时向民众宣传保持社交距离和戴口罩、减少出行的建议，导致传染率系数会比参数设置的更高；
      </p>
      <p>
        2）治疗系数与当地医疗水平、卫生设施数量、医疗物资等息息相关，疫情中期各州的医疗设备全面告急，医护人员感染率上升，同时中产阶级及以下家庭因为无法支付高昂医疗费选择在家隔离，错过最佳治疗期，使得治疗系数要低于已经有雷神山火神山的武汉对应时期的治疗系数；
      </p>
      <p>
        （2）结果分析：
        主要的预测在于感染人数逐渐趋于0的时间节点，本次预测得到的结果是今年秋季美国的疫情能够基本得到控制。
      </p>
      <p>
        （3）拟合分析；
        本模型在尝试同时拟合现有病例（正在接受治疗人群）和治愈人数曲线时，发现无法做到相对同时拟合的比较贴合实际的结果。分析可知，（1）中的参数对拟合结果的影响非常大，而模型参数的选择需要结合美国实际疫情情况才能推算，目前使用的计算手段过于粗糙；同时该模型的假设条件是，美国的0号病人出现在今年1月11日，但是目前的报告陆续显示早在2019年美国就有社区性传播，因此本模型的可靠性大大下降。由于具体的时间目前国际上无法追溯，所以进一步的研究很难继续进行。
      </p>
    </div>
  </body>
</html>
